#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.playing {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.result {
	display: flex;
	flex-direction: column;
}

.title {
	margin-bottom: 50px;
}

.quote {
	background-color: black;
	border-radius: 10px;
	font-size: 30px;
	width: 680px;
	padding: 20px 20px;
	list-style-type: none;
}

li {
	display: inline-flex;
	margin: 0px 5px;
}

.correct {
	color: green;
}

.incorrect {
	color: red;
}

.underline {
	text-decoration-line: underline;
}

.input {
	font-size: 25px;
	border-radius: 10px;
	width: 700px;
	height: 40px;
} 
